div {
    height: 450px;
    width: 450px;
}

p {
    font-family: "Verdana", Sans-serif;
    text-align: center;
    font-size: 10;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    font-family: "Verdana", Sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    margin: 0px 0;
    border: none;
    cursor: pointer;
    font-family: "Verdana", Sans-serif;
    width: 30%;
    box-align: center;
    align-self: center;
    align-content: center;
}