<table align="center">
  <tr>
 Bienvenido, el token de la sesion es: {{activeToken}}!
  </tr>
  <tr>
      <button (click)="goListAdmins()">
          Gestion de Adminstradores
        </button>
        <button (click)="goListEditors()">
            Gestion de Editores
        </button>
  </tr>
  <tr>
      <button (click)="goListStyles()">
        Gestion de Estilos
      </button>
    </tr>
    <tr>
        <button (click)="goListFormats()">
            Gestion de Formatos
          </button>
    </tr>
    <tr>
      <button (click)="goListDocuments()">
          Gestion de Documentos
        </button>
  </tr>
  <tr>
      <app-logout></app-logout>
  </tr>
</table>

