<div align="center">
  <hr>
    <h2>Modificar Editor</h2>
    <label>Nombre:
      <input [(ngModel)]="user.name" placeholder="name">
    </label>
    <br>
    <br>
    <label>Apellido:
        <input [(ngModel)]="user.surname" placeholder="surname">
    </label>
    <br>
    <br>
    <label>Correo:
      <input [(ngModel)]="user.email" placeholder="email">
    </label>
    <br>
    <br>
    <label>Usuario:
       <input [(ngModel)]="user.username" placeholder="username">
    </label>
    <br>
    <br>
    <label>Contraseña:
      <input [(ngModel)]="user.password" placeholder="password">
    </label>
    <br>
    <br>
    <div align="center">
        <button (click)="modifyEditor()">
                Modificar Editor
        </button>
    </div>
    <app-go-home></app-go-home>
</div>
